@model EditGenreViewModel

@{
    ViewData["Title"] = "Add genre";
}

<h1>Add</h1>

<h4>Genre</h4>
<hr/>
<div class="col-8 mx-auto">
    <form asp-action="Create">
        <partial name="_EditGenre" model="Model"/>

        <div class="col-1 mx-auto">
            <input type="submit" value="Add" class="btn btn-info text-light"/>
        </div>
    </form>
</div>

<div>
    <a asp-action="GetGenres" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}