<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#"id="ordersDropdownMenuLink" role="button" data-bs-toggle="dropdown"
       aria-expanded="true">
        Orders
    </a>
    <ul class="dropdown-menu" aria-labelledby="ordersDropdownMenuLink">
        <li>
            <a class="dropdown-item" asp-controller="Order" asp-action="GetOrdersHistory">
                Orders History
            </a>
        </li>
        <li>
            <a class="dropdown-item" asp-controller="Order" asp-action="GetOrders">
                Orders Management
            </a>
        </li>
    </ul>
</li>
