@{
    ViewData["Title"] = "Access denied";
}

<div class="row" style="height: 60vh">
    <header class="w-100 my-auto text-center">
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">You do not have access to this resource.</p>
    </header>
</div>