@model LoginViewModel

@{
    ViewData["Title"] = "Sign In";
}

<h2>Sign In</h2>
<hr/>
<div class="col-4 mx-auto">
    <form asp-action="LogIn" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="my-3">
                <div class="input-group">
                    <label asp-for="Email" class="input-group-text"></label>
                    <input asp-for="Email" class="form-control"/>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="my-3">
                <div class="input-group">
                    <label asp-for="Password" class="input-group-text"></label>
                    <input asp-for="Password" class="form-control"/>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-1 mx-auto">
            <input type="submit" value="Sign In" class="btn btn-info text-light"/>
        </div>
    </form>
</div>
