@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Name</p>
            </td>
        </tr>
    }
    </tbody>
</table>
