@model EditGameViewModel

<div class="container">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id"/>

    <div class="row g-3 my-3">
        <div class="col">
            <div class="input-group">
                <label asp-for="Name" class="input-group-text"></label>
                <input asp-for="Name" class="form-control" oninput="transformToKebabCase(this, 'Key')"/>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="input-group">
                <input asp-for="Key" class="form-control text-end"/>
                <label asp-for="Key" class="input-group-text"></label>
            </div>
            <span asp-validation-for="Key" class="d-block text-danger"></span>
        </div>
    </div>

    <div class="input-group my-3">
        <label asp-for="Description" class="input-group-text"></label>
        <textarea asp-for="Description" class="form-control" style="height: 20vh" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="row g-3 my-3">
        <div class="col">
            <div class="input-group">
                <div class="input-group-text">
                    <div class="form-switch">
                        <input asp-for="Discontinued" class="form-check-input"/>
                    </div>
                </div>
                <label class="form-control" asp-for="Discontinued"></label>
            </div>
            <span asp-validation-for="Discontinued" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="input-group">
                <select asp-for="SelectedPublisher" asp-items="Model.Publishers" class="form-select text-end">
                    <option selected value="">Choose...</option>
                </select>
                <label asp-for="SelectedPublisher" class="input-group-text"></label>
            </div>
            <span asp-validation-for="SelectedPublisher" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-3 my-3">
        <div class="col">
            <div class="input-group">
                <label asp-for="UnitsInStock" class="input-group-text"></label>
                <input asp-for="UnitsInStock" class="form-control text-end" min="0" max="32767"/>
            </div>
            <span asp-validation-for="UnitsInStock" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="input-group">
                <input asp-for="QuantityPerUnit" class="form-control text-end"/>
                <label asp-for="QuantityPerUnit" class="input-group-text"></label>
            </div>
            <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-3 my-3">
        <div class="col">
            <div class="input-group">
                <label asp-for="SelectedGenres" class="input-group-text"></label>
                <select asp-for="SelectedGenres" asp-items="Model.Genres" class="form-select"></select>
            </div>
            <span asp-validation-for="SelectedGenres" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="input-group">
                <select asp-for="SelectedPlatformTypes" asp-items="Model.PlatformTypes" class="form-select text-end"></select>
                <label asp-for="SelectedPlatformTypes" class="input-group-text"></label>
            </div>
            <span asp-validation-for="SelectedPlatformTypes" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row g-3 my-3">
        <div class="col">
            <div class="input-group">
                <label asp-for="Price" class="input-group-text"></label>
                <input asp-for="Price" class="form-control"/>
                <span class="input-group-text">$</span>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="input-group">
                <label asp-for="DatePublished" class="input-group-text"></label>
                <input asp-for="DatePublished" class="form-control"
                       max="@DateTime.UtcNow.ToString("yyyy-MM-dd")"/>
            </div>
            <span asp-validation-for="DatePublished" class="text-danger"></span>
        </div>
    </div>
    
    <input asp-for="DateAdded"/>
    <input asp-for="ViewsNumber"/>
    <input asp-for="DatabaseEntity"/>
</div>