@model OrderListViewModel

@{
    ViewData["Title"] = "Orders History";
}

<h1>Orders History</h1>

<partial name="_FilterDate" model="Model.FilterOrderViewModel"/>

<partial name="_OrdersList" for="Orders"/>
