@model EditPublisherViewModel

@{
    ViewData["Title"] = "Update publisher";
}

<h1>Update</h1>

<h4>Publisher</h4>
<hr/>
<div class="col-8 mx-auto">
    <form asp-action="Update" method="post">
        <partial name="_EditPublisher" model="Model"/>

        <div class="col-1 mx-auto">
            <input type="submit" value="Save" class="btn btn-info text-light"/>
        </div>
    </form>
</div>

<div>
    <a asp-action="GetPublishers" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}