@model EditCommentViewModel

<form asp-action="UpdateComment"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#dialogContent"
      data-ajax-mode="replace"
      data-ajax-success="OnSuccess">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Edit comment</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Id"/>

            <div class="my-3">
                <div class="input-group">
                    <label asp-for="Name" class="input-group-text"></label>
                    <input asp-for="Name" class="form-control"/>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="my-3">
                <div class="input-group">
                    <input asp-for="Body" class="form-control"/>
                    <label asp-for="Body" class="input-group-text"></label>
                </div>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            
            <input asp-for="GameId"/>
            
            <input asp-for="ReplyToId"/>
            
            <input asp-for="IsQuoted"/>
        </div>

        <div class="modal-footer col-3 mx-auto">
            <input type="submit" value="Save" class="btn btn-info text-light"/>
        </div>
    </div>
</form>