@model int

<div class="container">
    <small class="navbar-text">
        <b>Total numbers of games: </b>
        @Model
    </small>
    <a class="btn btn-sm btn-light navbar-btn" asp-controller="Cart" asp-action="GetBasket">
       <i class="fa fa-shopping-cart"></i>
    </a>
</div>
