@model IEnumerable<PlatformTypeViewModel>

@{
    ViewData["Title"] = "Platform types";
}

<h1>Platform types</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Platform type</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="GetPlatformTypeById" asp-route-platformTypeId="@item.Id" class="text-decoration-none">
                    @item.Type
                </a>
            </td>
            <td>
                @if(User.IsInRoles(Permissions.ManagerPermission))
                {
                    <div class="btn-group">
                        <a asp-action="Update" asp-route-platformTypeId="@item.Id" class="btn btn-warning">Update</a>
                    </div>
                }
            </td>
        </tr>
    }
    </tbody>
</table>